.message-page {
  height: 100%;
  width: 100%;
}
.message-page__client-no-tr {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.message-page__client-no-tr-text {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  width: 209px;
}
.message-page__client-has-tr {
  padding-top: 90px;
}
.message-page__client-hes-tr-title {
  font-size: 20px;
  margin-bottom: 50px;
}
.message-page__client-hes-tr-list {
  text-align: left;
  width: 300px;
  margin: 0 auto;
  color: black;
}
.message-page__client-hes-tr-item {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #DF83FF;
  margin-bottom: 20px;
}
.message-page__client-hes-tr-item:last-child {
  margin-bottom: 0px;
}
.message-page__client-hes-tr-date {
  font-size: 9px;
  margin-bottom: 5px;
}