.form-sign-up {
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
  align-items: center;
  border: 1px solid white;
  border-radius: 20px;
  padding: 40px 0;
}
.form-sign-up__inputs {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  align-items: center;
}
.form-sign-up__buttons {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  align-items: center;
}
.form-sign-up__link {
  color: rgba(255, 255, 255, 0.5);
}