.food-page {
  padding: 40px 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-gap: 50px;
}
.food-page__buttons, .food-page__dishes-forms {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-gap: 20px;
}