.show-friend-form__title {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-bottom: 30px;
}
.show-friend-form__no-friend {
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}
.show-friend-form__list-item {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show-friend-form__btn-acc-reg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
}
.show-friend-form__btns {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
.show-friend-form__client-btn {
  background-color: transparent;
  border: none;
  outline: none;
}
.show-friend-form__btn-accept {
  background-color: transparent;
  border: none;
  outline: none;
}
.show-friend-form__btn-regect {
  background-color: transparent;
  border: none;
  outline: none;
}
.show-friend-form__couch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.show-friend-form__couch-login {
  color: black;
}
.show-friend-form__couch-btn {
  background-color: transparent;
  border: none;
  outline: none;
}