.create-exercise {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 30px;
}
.create-exercise__title {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.create-exercise__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 20px;
}