.dishes-form {
  border-radius: 20px;
  border: 1px solid white;
  padding: 10px 22px;
  width: 287px;
}
.dishes-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}
.dishes-form__type {
  font-weight: 600;
  color: #DF83FF;
  text-align: left;
  margin-bottom: 3px;
}
.dishes-form__bgu-modul {
  display: flex;
  font-size: 9px;
  width: 173px;
  justify-content: space-between;
  margin-bottom: 8px;
}
.dishes-form__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.dishes-form__item:last-child {
  margin-bottom: 0px;
}
.dishes-form__item-name {
  text-align: left;
  margin-bottom: 2px;
}
.dishes-form__call-bold {
  font-weight: 600;
}