.sport-page {
  padding: 90px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sport-page__title {
  font-size: 20px;
  margin-bottom: 50px;
}
.sport-page__no-work {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.sport-page__btn {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.sport-page__list {
  height: 500px;
}
.sport-page__item {
  margin-bottom: 10px;
}
.sport-page__item:last-child {
  margin-bottom: 0;
}
.sport-page__btn-date {
  font-size: 7px;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 40px;
}
.sport-page__btn-name {
  color: black;
}
.sport-page__no-work-title {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  width: 209px;
}